body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.site-header {
  display: flex; /* Change to flexbox layout */
  align-items: center; /* Align elements vertically */
  justify-content: space-between; /* Distribute elements horizontally */
  background-color: #f5f5f5;
  padding: 30px 0;
}

.site-header h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
  /* Adjust margin as needed for spacing */
}

.site-header a {
  /* Existing styles */
}

.site-header p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.site-header img {
  /* Adjust width as needed */
  width: 5px;
  height: auto; /* Maintain aspect ratio */
}

.featured-articles img,
.article-card img {
  /* Adjust width as needed */
  width: 25px;
  height: auto; /* Maintain aspect ratio */
}

.main-navigation {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  margin: 0 10px;
}

.main-navigation a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
}

.main-navigation a:hover {
  background-color: #222;
}

.content-wrapper {
  padding: 20px;
}

.content-wrapper img {
  width: 25px;
  height: auto; /* Maintain aspect ratio */
}

.hero-section {
  display: flex;
  align-items: center;
