body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.header-content {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align elements */
  /* Adjust spacing as needed */
  margin-bottom: 5px; /* Add space below the content */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.site-header {
  display: flex;
  align-items: center; /* Keeps elements vertically centered */
  justify-content: flex-start; /* Aligns elements to the left */
  background-color: #D3D3D3;
  padding: 20px 0;
}

.site-header h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
  white-space: nowrap ;
}

.site-header a {
  /* Existing styles */
}

.site-header p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.site-header img {
  float: left;
  /* Adjust width as needed */
  width: 100px;
  height: auto; /* Maintain aspect ratio */
}

.featured-articles img,
.article-card img {
  /* Adjust width as needed */
  width: 200px;
  height: auto; /* Maintain aspect ratio */
}

.main-navigation {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  white-space: nowrap ;
  margin-bottom: 2px; /* Add space below the content */
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  margin: 0 10px;
}

.main-navigation a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
}

.main-navigation a:hover {
  background-color: #222;
}

.content-wrapper {
  padding: 20px;
}

.hero-section {
  display: flex;
  align-items: center;
}

.hero-section img{
  width: 400px;
  height: auto; /* Maintain aspect ratio */ 
}

.hero-content {
  display: flex;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 768px) {
  /* Styles for mobile devices */
}
