body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.header-content {
  display: flex; /* Use flexbox for layout */
  align-items: center; /* Vertically align elements */
  /* Adjust spacing as needed */
  margin-bottom: 10px; /* Add space below the content */
}

.container {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.site-header {
  display: flex;
  align-items: center; /* Keeps elements vertically centered */
  justify-content: flex-start; /* Aligns elements to the left */
  background-color: #f5f5f5;
  padding: 2px 0;
}

.site-header h1 {
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
  /* Adjust margin as needed for spacing */
}

.site-header a {
  /* Existing styles */
}

.site-header p {
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #666;
}

.site-header img {
  float: left;
  /* Adjust width as needed */
  width: 100px;
  height: auto; /* Maintain aspect ratio */
}

.site-footer {
  display: flex;
  align-items: center; /* Keeps elements vertically centered */
  justify-content: flex-start; /* Aligns elements to the left */
  background-color: #D3D3D3;
  padding: 5px 0;
}

.site-footer p {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #666;
  text-align: center;
}

.featured-articles {
  max-width: 100%;
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 25px;
  padding-left: 10px;
}

.featured-articles img,
.article-card img {
  /* Adjust width as needed */
  width: 200px;
  height: auto; /* Maintain aspect ratio */
}

.main-navigation {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}


.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* Other existing styles */
}

.main-navigation li {
  display: inline-block; /* Maintain block behavior for boxes on desktop */
  margin: 0 10px; /* Adjust spacing as needed */
}

.main-navigation a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  font-weight: bold;
}

.main-navigation a:hover {
  background-color: #222;
}

.content-wrapper {
  padding: 20px;
}

.hero-section {
  display: flex;
  align-items: center;
}

.hero-section img{
  width: 400px;
  height: auto; /* Maintain aspect ratio */ 
}

.hero-content {
  display: flex;
  align-items: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

@media (max-width: 768px) {
  .main-navigation {
    text-align: center; /* Center navigation on mobile */
  }

  .main-navigation ul {
    display: flex; /* Enable flexbox for wrapping on mobile */
    flex-direction: column; /* Stack items vertically */
  }

  .main-navigation li {
    display: block; /* Change to block for single line on mobile */
    width: 100%; /* Make each item full width */
    margin: 10px; /* Adjust spacing between items */
  }
}
