@font-face {
  font-family: FalconPunch;
  src: url('./../fonts/falconpunch.ttf') format('truetype');
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.container {
  max-width: 90vw; /* Use viewport width for better responsiveness */
  margin: 0 auto;
  padding: 2rem;
}

/* Header Styles */

.site-header {
  display: flex;
  align-items: center;  /* Keeps elements vertically aligned */
  justify-content: flex-start; /* Aligns elements to the left */
  background-color: #f5f5f5;
  padding: 1rem 0;
}

.site-header h1 {
  font-family: FalconPunch, sans-serif;
  font-size: 1.5em; /* Adjust font size as needed */
  margin-bottom: 0; /* Remove extra margin */
  color: #333;
}

.site-header a {
  /* Existing styles */
}

.site-header p {
  font-size: 1em; /* Adjust font size as needed */
  margin-bottom: 10px;
  color: #666;
}

.site-header img {
  width: 6em; /* Adjust width based on design */
  height: auto;
}

/* Navigation Styles */

.main-navigation {
  font-family: FalconPunch, sans-serif;
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.main-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-navigation li {
  display: inline-block;
  margin: 0 10px;
}

.main-navigation a {
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
}

.main-navigation a:hover {
  background-color: #222;
}

/* Footer Styles */

.site-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D3D3D3;
  padding: 5px;
}

.site-footer p {
  font-size: 1em;
  margin-bottom: 10px;
  color: #666;
  text-align: center;
}

/* Content Styles */

.featured-articles {
  max-width: 90vw; /* Adjust based on content width */
  margin: 0 auto;
  padding: 3rem 0; /* Consistent padding top and bottom */
}

.featured-articles img,
.article-card img {
  width: 30%; /* Responsive image width based on percentage */
  height: auto;
}

.article-page {
  max-width: 70%; /* Adjust for content width on larger screens */
  margin: 0 auto;
  padding: 2rem;
}

/* Media Queries */

@media (max-width: 768px) {
  .main-navigation {
    flex-wrap: wrap; /* Wrap navigation items on mobile */
  }

  .main-navigation li {
    width: 100%; /* Full width navigation items on mobile */
    margin: 10px 0; /* Adjust spacing between items */
  }

  .featured-articles img,
  .article-card img {
    width: 100%; /* Full width images on mobile */
  }
}

/* Additional Classes (Optional) */

.content-wrapper {
  display: flex;
  padding: 20px;
}

.hero-section {
  display: flex;
  align-items: center;
}

.hero-section img {
  width: 40%; /* Adjust image width based on layout */
  height: auto;
}
